/*body{
	background-color:#ffffff;
	color:#000;
}*/
body{
	margin-top:70px;
}
.margin30{
	margin-top:30px;
}
.margin15{
	margin-top:15px;
	margin-bottom:15px;
}
.right{
	text-align:right;
}
.bottom_pad{
	height:800px;
	width:100px;
	display: inline-block;
}
/* index*/
.en_word{
	color:#0060af;
	font-size:18px;
}
/* modal*/
.batton_modal{
	text-align:right;
	margin-right:30px;
	margin-bottom:5px;
}
.btn_red{
	background-color:#B01E21;
	color:#fefefe;
}
.margin20{
	margin-top:20px;
}
.left15{
	margin-left:-15px;
}
.bold_left{
	font-weight: bolder;
	font-size:16px;
	word-wrap: break-word;
}
.owerflow{
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto; 
}
.main_word{
	display: inline-table;
	font-weight: bolder;
	font-size:16px;
}
.main_desc{
	margin-left:15px;
	display: inline-table;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto; 	
}
/* del words*/
.left_pad{
	padding-top:5%;
	padding-left:25%;
	font-weight: 900;
	font-size:25px;
	color:#3B85A0;
}
.right_pad{
	padding-top:3%;
}